<div class="text-center">

<app-search-bar [(stationSelected)]="stationSelected" [(selectDate)]="selectDate" 
(stationClick)="changeSelectStation($event)" (dateClick)="changeSelectDate($event)"
>
</app-search-bar>
<table class="table table-bordered table-striped mypage text-center">
    
  <thead><tr app-table-header></tr></thead>
  <tbody>
    <tr app-table-row *ngFor="let rd of rows"
     [colData]="rd"
    >
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="20">20 items per page</option>
    <option [ngValue]="50">50 items per page</option>
  </select>
</div>
</div>