.mypage{
    margin:auto;
}

/* iPhone 4 ———– */

@media

only screen and (-webkit-min-device-pixel-ratio : 1.5),

only screen and (min-device-pixel-ratio : 1.5) {

.mypage{
    width: 800px;
}
}

 

/* iPads (portrait) ———– */

@media only screen and (min-device-width : 768px)

and (max-device-width : 1024px) and (orientation : portrait) {

    .mypage{
        width: 800px;
    }

}

/* Smartphones (portrait and landscape) ———– */

@media only screen

and (min-device-width : 320px) and (max-device-width : 480px) {

    .mypage{
        width: 800px;
    }

}

/* Smartphones (landscape) ———– */

@media only screen and (min-width : 321px) {

    .mypage{
        width: 800px;
    }

}

/* Smartphones (portrait) ———– */

@media only screen and (max-width : 320px) {

    .mypage{
        width: 800px;
    }

}

/* iPads (portrait and landscape) ———– */

@media only screen and (min-device-width : 768px)

and (max-device-width : 1024px) {

    .mypage{
        width: 100%;
    }

}

/* iPads (landscape) ———– */

@media only screen and (min-device-width : 768px)

and (max-device-width : 1024px) and (orientation : landscape) {

    .mypage{
        width: 100%;
    }

}

/* iPads (portrait) ———– */

@media only screen and (min-device-width : 768px)

and (max-device-width : 1024px) and (orientation : portrait) {

    .mypage{
        width: 100%;
    }


}

/* Desktops and laptops ———– */

@media only screen and (min-width : 1224px) {

    .mypage{
        width: 90%;
    }


}

/* Large screens ———– */

@media only screen and (min-width : 1824px) {

    .mypage{
        width: 80%;
    }


}

 
